{% load static %}
	<!-- css files -->
    <link href="{% static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->

	<link href="{% static 'css/css_slider.css'%}" type="text/css" rel="stylesheet" media="all">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->




<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="#">Assured Travel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="selected">
        <a class="{{ home }}" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{active_student}}">
        <a class="nav-link" href="/tours">Tours</a>
      </li>
      <li class="nav-item {{active_stu}}">
        <a class="nav-link" href="/about">Stu</a>
      </li>

    </ul>

    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item {{activate_fileMF}}">
        <a class="btn btn-danger btn-sm mx-2 d-flex mr-auto" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item {{activate_fileMF}}">
        <a class="btn btn-primary btn-sm mx-2" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item {{activate_fileMF}}">
        <a class="btn btn-warning btn-sm mx-2" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<style>
    .selected{
        color:red;
    }
</style>