{% extends 'layout.html' %}
<!--title-->
{% block title %}
<title>Destination</title>
{% endblock %}



<!--main body-->
{% block main_content %}
<div class="popular_destination_area">
        <div class="container">
           <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Destination</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
                <div class="row">
                {% for dest in destinations %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">

                        <div class="thumb">
                            <img src="{{ dest.picture.url }}" alt="">
                        </div>

                        <div class="content">
                            <p class="d-flex align-items-center">{{ dest.name }}
                                <a href="{% url 'travelDestination' dest.id %}">
                                    {{ dest.tour_set.all.count }} Places
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- popular_destination_area_end  -->

{% endblock %}