{% extends 'layout.html' %}
<!--title-->
{% block title %}
<title>Assured Travel & Tours</title>
{% endblock %}



<!--main body-->
{% block main_content %}
    <!-- banner -->
    <section class="banner_w3lspvt" id="home">
        <div class="csslider infinity" id="slider1">
            <input type="radio" name="slides" checked="checked" id="slides_1" />
            <input type="radio" name="slides" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />
            <input type="radio" name="slides" id="slides_4" />
            <ul>
                <li>
                    <div class="banner-top">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info">
                                    <h3 class="text-wh">Never let your memories be greater than your dreams.</h3>
                                    <h4 class="text-wh">tristique senectus et netus et malesuada</h4>
                                    <div class="buttons mt-4">
                                        <a href="about.html" class="btn mr-2">About Us</a>
                                        <a href="booking.html" class="btn">Book a Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top1">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info">
                                    <h3 class="text-wh">It is better to travel than to arrive. Let's Be Adventurers.</h3>
                                    <h4 class="text-wh">tristique senectus et netus et malesuada</h4>
                                    <div class="buttons mt-4">
                                        <a href="about.html" class="btn mr-2">About Us</a>
                                        <a href="booking.html" class="btn">Book a Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top2">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info">
                                    <h3 class="text-wh">Never let your memories be greater than your dreams.</h3>
                                    <h4 class="text-wh">tristique senectus et netus et malesuada</h4>
                                    <div class="buttons mt-4">
                                        <a href="about.html" class="btn mr-2">About Us</a>
                                        <a href="booking.html" class="btn">Book a Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top3">
                        <div class="overlay1">
                            <div class="container">
                                <div class="w3layouts-banner-info">
                                    <h3 class="text-wh">It is better to travel than to arrive. Let's Be Adventurers.</h3>
                                    <h4 class="text-wh">tristique senectus et netus et malesuada</h4>
                                    <div class="buttons mt-4">
                                        <a href="about.html" class="btn mr-2">About Us</a>
                                        <a href="booking.html" class="btn">Book a Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="arrows">
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
            </div>
        </div>
    </section>
<!-- //banner -->






{% endblock %}