{% extends 'layout.html' %}
<!--title-->
{% block title %}
<title>Tours</title>
{% endblock %}



<!--main body-->
{% block main_content %}

    <div class="container">
        <div class="row mr-4">
            {% for i in key %}
                <div class="col">
                <img class="img" src="{{ i.picture }}" />
                <h1>{{i.name}}</h1>
                <h3>{{ i.price }}</h3>
                <h6>{{ i.location }}</h6>
                <pre>{{ i.main_Info }}</pre>
                <pre>{{ i.itinerary }}</pre>
                <h6>{{ i.country_Name }}</h6>
                </div>
            {%endfor%}
        </div>
    </div>

{% endblock %}